html {
  background: url(https://picsum.photos/1920/1080) no-repeat center center fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: rgba(0, 0, 0, 0.35);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

.notifications {
  display: flex;
  justify-content: center;
}
.notifications .notif {
  height: 25px;
  width: 95vw;
  font-size: 1rem;
  color: white;
  text-align: center;
  position: fixed;
  border-radius: 0px 0px 15px 15px;
  top: -25px;
  z-index: 100;
  background-color: red;
  transition: all 0.25s ease-out;
}
.notifications .notif.success {
  background-color: green;
}
.notifications .notif p,
.notifications .notif small {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.notifications .notif.notify {
  top: 0px;
  transition: all 0.25s ease-in;
}
.notifications .notif .close {
  margin: 0;
  color: white;
  position: absolute;
  font-size: 1.5rem;
  top: 0px;
  right: 10px;
  cursor: pointer;
  transition: color 0.25s linear;
}
.notifications .notif .close:hover {
  color: red;
  transition: color 0.25s linear;
}

.container {
  width: 100%;
}
.container .content .adder {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.container .content .adder .img-container {
  height: 300px;
  width: 300px;
  background: transparent;
  border: 5px solid white;
  position: relative;
  border-radius: 15px;
  background: rgb(133, 133, 133);
}
.container .content .adder .img-container img {
  border-radius: 10px;
}
.container .content .adder .img-container .reload-img {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  z-index: 1;
  cursor: pointer;
}
.container .content .adder .img-container .reload-img .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container .content .adder .img-container .reload-img .icon-container i {
  color: white;
  font-size: 5rem;
}
.container .content .adder .img-container:hover .reload-img {
  opacity: 1;
  transition: all 0.25s ease-in-out;
}
.container .content .adder .email-input {
  margin-top: 10px;
}
.container .content .adder .email-input .email {
  width: 250px;
  height: 20px;
  font-size: 1.1rem;
}
.container .content .adder .email-input .attach-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.container .content .adder .email-input .attach-btn-container .btn {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.container .content .checker {
  width: 100%;
  margin-top: 25px;
}
.container .content .checker .email-output {
  display: flex;
  justify-content: center;
}
.container .content .checker .email-output .email-selector {
  width: 275px;
  height: 25px;
  font-size: 1.1rem;
}
.container .content .checker .email-content {
  margin: 10px 5px 0px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .content .checker .email-content .email-item {
  height: 145px;
  width: 145px;
  margin: 0px 5px 10px 5px;
}

@media (min-width: 767px) {
  .email-item {
    width: 200px !important;
    height: 200px !important;
  }
}
@media (min-width: 1200px) {
  .email-item {
    width: 300px !important;
    height: 300px !important;
  }
}/*# sourceMappingURL=main.css.map */